{
	"parser": "babel-eslint",
	"extends": [
		"airbnb",
		"prettier",
		"prettier/react"
	],
	"plugins": [
		"prettier"
	],
	"rules": {
		"no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
		"no-tabs": 0,
		"no-use-before-define": ["error", { "functions": false }],
		"operator-assignment": ["error", "never"],
		"prettier/prettier": ["error", { "singleQuote": true, "useTabs": true, "tabWidth": 4 }]
	}
}