@import '../../assets/_variables.scss';

@font-face {
	font-family: Arcon-Regular;
	src: url('../../assets/fonts/Arcon-Regular.otf');
}

body {
	font-family: Arcon-Regular, Arial, sans serif;
	font-size: 18px;
	margin: 0;
}

.app {
	position: relative;
}

.content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	padding: 10px;
	padding-top: $top-padding;
	box-sizing: border-box;
	float: left;
	text-align: left;
	overflow: auto;

	.algorithm-content {
		width: 100%;
		height: calc(100% - 20px);
		text-align: center;

		& > div {
			margin-bottom: 20px;
		}

		.select-container {
			display: inline-block;
			width: 50%;
			max-width: 500px;
		}

		.logs-container {
			height: 60%;
			margin-top: 40px;
			color: $secondary-color;
			overflow: auto;
		}
	}
}

.btn {
	padding: 15px;
	background: transparent;
	border: 2px solid;
	cursor: pointer;
	font-size: 1.2rem;
	font-family: Arcon-Regular, Arial, sans serif;
	text-transform: uppercase;

	&:hover {
		color: $secondary-color;
		border-color: $secondary-color;
	}
}

/* override react-select styles*/
.is-focused:not(.is-open) > .Select-control {
	border-color: rgba(0, 0, 0, 0.3);
}
