.sidebar {
	position: absolute;
	top: 250px;
	left: 0;
	width: auto;
	padding: 80px;
	float: left;
	box-sizing: border-box;
	border-right: 1px solid #ddd;
	z-index: 1000;

	.sidebar-item {
		padding: 10px;
		text-transform: uppercase;
		font-weight: bold;
		cursor: pointer;

		span {
			color: black;
			transition: color .4s;
		}

		&:hover span {
			color: rgba(0, 0, 0, 0.5);
		}
	}
}
