@import '../../assets/_variables.scss';

.sidebar {
	position: absolute;
	top: 0;
	left: 0;
	width: $sidebar-width;
	padding-top: 250px;
	padding-left: 80px;
	float: left;
	box-sizing: border-box;
	z-index: 1000;

	.sidebar-item {
		padding: 10px;
		text-transform: uppercase;
		font-weight: bold;
		cursor: pointer;

		span {
			color: black;
			transition: color .4s;
		}

		&:hover span{
			color: rgba(0, 0, 0, 0.5);
		}
	}
}